body {
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    color: white;
    padding-bottom: 200px;
    /*fall-back bg-color*/
/*    background-color: #607496;*/
    background-image: 
        linear-gradient(to bottom, #39538d, #617496);
}


@media only screen and(max-width: 700px) {
    body {
/*        background-color: #607496;*/
        background-image:
            linear-gradient(to bottom, #39538d, #617496);
        
    }
}

.container {
    &.top {
        width: 100%;
        margin: 0px;
    }
}

a {
    color: #bdbdbd;
    text-decoration: underline;
    font-weight: 400;
}

ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
}

li {
    float: left;
}

footer {
    background-color: #ffffff;
    color: #bdbdbd;
    font-size: 11px;
    margin-top: 60px;
    padding: 10px;
    overflow:hidden;
}

@media only screen and(max-width: 479px) {
    footer {
        text-align: center;
        .footer-credits-location {
            margin: 0px !important;
        }
    }
}

@media only screen and(min-width: 479px) {
    footer {
        .footer-links-location {
            margin-left: 35px;
        }
    }
}