footer {
    .footer-logo-location {
        margin: 0px;
        width: 100%;
        display: inline-block;
    }
    .footer-credits-location {
        width: 100%;
        margin: 0px;
        display: inline-block;
    }

    .footer-links-location {
        display: inline-block;
        a {
            margin: 0px 3px 0px 3px;
        }
    }
}

#fooji-logo-black {
    width: 90px;
}

@media only screen and(min-width: 479px) {
    footer {
        #fooji-logo-black {
            width: 60px;
        }
        .footer-credits-location {
            margin-left: -120px;
        }
    }
}

@media only screen and(max-width: 600px) {
    footer {
        .footer-credits-location {
            margin: 0px;
        }
    }
}

@media only screen and(max-width: 479px) {
    footer {
        ul {
            margin-top: 10px;
            font-size: 12px;
        }
        li {
            margin: 0px;
            img {
                margin-bottom: 10px;
            }
            .footer-credits-location {
                margin-bottom: 25px;
            }
        }
    }
}