.middle-content {
    text-align: center;
    margin-top: 20px;
    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    li {
        float: none;
        padding-top: 15px;
        text-align: center;
    }
}

.middle-container {
    width: 420px;
}

@media only screen and(max-width: 479px) {
    .middle-container {
        width: 300px;
    }
}

.middle-grey-box {
    display: inline-block;
    width: 100%;
    height: 180px;
    background-color: #d7d7d7;
}

#middle-pizza {
    width: 55px;
}

#middle-twitter {
    width: 75px;
}

#middle-twitter, #middle-pizza {
    margin: 25px;
}