/*
body {
    border: 5px solid white;
}

.container {
    border: 2px solid black;
    &.top {
        border: 2px dotted white;
    }
    &.mid {
        border: 5px dotted green;
    }
}

.top-elements {
    border: 2px dotted red;
    ul {
        border: 2px dotted orange;
    }
}

.middle-content {
    border: 2px solid orange;
}

.middle-container {
    border: 2px solid red;
}

.middle-grey-box {
    border: 5px dotted yellow;
}

footer {
    border: 5px solid purple !important;
}

.footer-logo-location {
    border: 3px solid black;
}

#fooji-logo-black {
    border: 3px dotted black;
}

.footer-credits-location {
    border: 3px solid black;
}

.footer-links-location {
    border: 3px solid orange;
}

.footer-right-spacer-location {
    border: 3px solid black;
}

ul {
    &.content-bottom {
        border: 2px dotted red;
    }
}
*/