/* line 1, ../sass/base-layout.scss */
body {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  color: white;
  padding-bottom: 200px;
  /*fall-back bg-color*/
  /*    background-color: #607496;*/
  background-image: linear-gradient(to bottom, #39538d, #617496);
}

@media only screen and (max-width: 700px) {
  /* line 14, ../sass/base-layout.scss */
  body {
    /*        background-color: #607496;*/
    background-image: linear-gradient(to bottom, #39538d, #617496);
  }
}
/* line 23, ../sass/base-layout.scss */
.container.top {
  width: 100%;
  margin: 0px;
}

/* line 29, ../sass/base-layout.scss */
a {
  color: #bdbdbd;
  text-decoration: underline;
  font-weight: 400;
}

/* line 35, ../sass/base-layout.scss */
ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

/* line 41, ../sass/base-layout.scss */
li {
  float: left;
}

/* line 45, ../sass/base-layout.scss */
footer {
  background-color: #ffffff;
  color: #bdbdbd;
  font-size: 11px;
  margin-top: 60px;
  padding: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 479px) {
  /* line 55, ../sass/base-layout.scss */
  footer {
    text-align: center;
  }
  /* line 57, ../sass/base-layout.scss */
  footer .footer-credits-location {
    margin: 0px !important;
  }
}
@media only screen and (min-width: 479px) {
  /* line 65, ../sass/base-layout.scss */
  footer .footer-links-location {
    margin-left: 35px;
  }
}
