/* line 2, ../sass/bottom-items.scss */
footer .footer-logo-location {
  margin: 0px;
  width: 100%;
  display: inline-block;
}
/* line 7, ../sass/bottom-items.scss */
footer .footer-credits-location {
  width: 100%;
  margin: 0px;
  display: inline-block;
}
/* line 13, ../sass/bottom-items.scss */
footer .footer-links-location {
  display: inline-block;
}
/* line 15, ../sass/bottom-items.scss */
footer .footer-links-location a {
  margin: 0px 3px 0px 3px;
}

/* line 21, ../sass/bottom-items.scss */
#fooji-logo-black {
  width: 90px;
}

@media only screen and (min-width: 479px) {
  /* line 27, ../sass/bottom-items.scss */
  footer #fooji-logo-black {
    width: 60px;
  }
  /* line 30, ../sass/bottom-items.scss */
  footer .footer-credits-location {
    margin-left: -120px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 38, ../sass/bottom-items.scss */
  footer .footer-credits-location {
    margin: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 46, ../sass/bottom-items.scss */
  footer ul {
    margin-top: 10px;
    font-size: 12px;
  }
  /* line 50, ../sass/bottom-items.scss */
  footer li {
    margin: 0px;
  }
  /* line 52, ../sass/bottom-items.scss */
  footer li img {
    margin-bottom: 10px;
  }
  /* line 55, ../sass/bottom-items.scss */
  footer li .footer-credits-location {
    margin-bottom: 25px;
  }
}
