/* line 1, ../sass/btn.scss */
.btn {
  border-radius: 3px;
  padding: 15px 40px 15px 40px;
  letter-spacing: 1.3px;
}

/* line 7, ../sass/btn.scss */
.btn-default, .btn-default:active, .btn-default:hover, .btn-default:visited {
  background-color: #7d91ec !important;
  background-image: none;
  border: none;
  color: white;
}
