/* line 1, ../sass/middle-items.scss */
.middle-content {
  text-align: center;
  margin-top: 20px;
}
/* line 4, ../sass/middle-items.scss */
.middle-content ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
/* line 9, ../sass/middle-items.scss */
.middle-content li {
  float: none;
  padding-top: 15px;
  text-align: center;
}

/* line 16, ../sass/middle-items.scss */
.middle-container {
  width: 420px;
}

@media only screen and (max-width: 479px) {
  /* line 21, ../sass/middle-items.scss */
  .middle-container {
    width: 300px;
  }
}
/* line 26, ../sass/middle-items.scss */
.middle-grey-box {
  display: inline-block;
  width: 100%;
  height: 180px;
  background-color: #d7d7d7;
}

/* line 33, ../sass/middle-items.scss */
#middle-pizza {
  width: 55px;
}

/* line 37, ../sass/middle-items.scss */
#middle-twitter {
  width: 75px;
}

/* line 41, ../sass/middle-items.scss */
#middle-twitter, #middle-pizza {
  margin: 25px;
}
