/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/*@import "chunk.scss";*/
/*@import "troubleshooting.scss";*/
/* line 1, ../sass/base-layout.scss */
body {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  color: white;
  padding-bottom: 200px;
  /*fall-back bg-color*/
  /*    background-color: #607496;*/
  background-image: linear-gradient(to bottom, #39538d, #617496);
}

@media only screen and (max-width: 700px) {
  /* line 14, ../sass/base-layout.scss */
  body {
    /*        background-color: #607496;*/
    background-image: linear-gradient(to bottom, #39538d, #617496);
  }
}
/* line 23, ../sass/base-layout.scss */
.container.top {
  width: 100%;
  margin: 0px;
}

/* line 29, ../sass/base-layout.scss */
a {
  color: #bdbdbd;
  text-decoration: underline;
  font-weight: 400;
}

/* line 35, ../sass/base-layout.scss */
ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

/* line 41, ../sass/base-layout.scss */
li {
  float: left;
}

/* line 45, ../sass/base-layout.scss */
footer {
  background-color: #ffffff;
  color: #bdbdbd;
  font-size: 11px;
  margin-top: 60px;
  padding: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 479px) {
  /* line 55, ../sass/base-layout.scss */
  footer {
    text-align: center;
  }
  /* line 57, ../sass/base-layout.scss */
  footer .footer-credits-location {
    margin: 0px !important;
  }
}
@media only screen and (min-width: 479px) {
  /* line 65, ../sass/base-layout.scss */
  footer .footer-links-location {
    margin-left: 35px;
  }
}
/* line 1, ../sass/btn.scss */
.btn {
  border-radius: 3px;
  padding: 15px 40px 15px 40px;
  letter-spacing: 1.3px;
}

/* line 7, ../sass/btn.scss */
.btn-default, .btn-default:active, .btn-default:hover, .btn-default:visited {
  background-color: #7d91ec !important;
  background-image: none;
  border: none;
  color: white;
}

/* line 2, ../sass/upper-items.scss */
.top-elements li {
  float: left;
  padding: 20px;
  margin-top: 20px;
  /*bar character*/
  border-left: 1px solid #ffffff;
}
/* line 9, ../sass/upper-items.scss */
.top-elements li #fooji-logo-white-box {
  width: auto;
}
/* line 13, ../sass/upper-items.scss */
.top-elements li #fooji-logo-white {
  width: 90px;
  border: 5px solid #39538d;
}

/* line 20, ../sass/upper-items.scss */
#top-grey-box-with-blue-border {
  width: 120px;
  height: 10px;
  margin-top: 35px;
  background-color: #d7d7d7;
  border-top: 5px solid #39538d;
  border-right: 28px solid #39538d;
  border-bottom: 5px solid #39538d;
  border-left: 5px solid #39538d;
}

@media only screen and (max-width: 479px) {
  /* line 32, ../sass/upper-items.scss */
  #top-grey-box-with-blue-border {
    margin-top: 20px;
    border: 20px solid #3e578e;
  }
}
/* line 1, ../sass/middle-items.scss */
.middle-content {
  text-align: center;
  margin-top: 20px;
}
/* line 4, ../sass/middle-items.scss */
.middle-content ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
/* line 9, ../sass/middle-items.scss */
.middle-content li {
  float: none;
  padding-top: 15px;
  text-align: center;
}

/* line 16, ../sass/middle-items.scss */
.middle-container {
  width: 420px;
}

@media only screen and (max-width: 479px) {
  /* line 21, ../sass/middle-items.scss */
  .middle-container {
    width: 300px;
  }
}
/* line 26, ../sass/middle-items.scss */
.middle-grey-box {
  display: inline-block;
  width: 100%;
  height: 180px;
  background-color: #d7d7d7;
}

/* line 33, ../sass/middle-items.scss */
#middle-pizza {
  width: 55px;
}

/* line 37, ../sass/middle-items.scss */
#middle-twitter {
  width: 75px;
}

/* line 41, ../sass/middle-items.scss */
#middle-twitter, #middle-pizza {
  margin: 25px;
}

/* line 2, ../sass/bottom-items.scss */
footer .footer-logo-location {
  margin: 0px;
  width: 100%;
  display: inline-block;
}
/* line 7, ../sass/bottom-items.scss */
footer .footer-credits-location {
  width: 100%;
  margin: 0px;
  display: inline-block;
}
/* line 13, ../sass/bottom-items.scss */
footer .footer-links-location {
  display: inline-block;
}
/* line 15, ../sass/bottom-items.scss */
footer .footer-links-location a {
  margin: 0px 3px 0px 3px;
}

/* line 21, ../sass/bottom-items.scss */
#fooji-logo-black {
  width: 90px;
}

@media only screen and (min-width: 479px) {
  /* line 27, ../sass/bottom-items.scss */
  footer #fooji-logo-black {
    width: 60px;
  }
  /* line 30, ../sass/bottom-items.scss */
  footer .footer-credits-location {
    margin-left: -120px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 38, ../sass/bottom-items.scss */
  footer .footer-credits-location {
    margin: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 46, ../sass/bottom-items.scss */
  footer ul {
    margin-top: 10px;
    font-size: 12px;
  }
  /* line 50, ../sass/bottom-items.scss */
  footer li {
    margin: 0px;
  }
  /* line 52, ../sass/bottom-items.scss */
  footer li img {
    margin-bottom: 10px;
  }
  /* line 55, ../sass/bottom-items.scss */
  footer li .footer-credits-location {
    margin-bottom: 25px;
  }
}
