/* line 2, ../sass/upper-items.scss */
.top-elements li {
  float: left;
  padding: 20px;
  margin-top: 20px;
  /*bar character*/
  border-left: 1px solid #ffffff;
}
/* line 9, ../sass/upper-items.scss */
.top-elements li #fooji-logo-white-box {
  width: auto;
}
/* line 13, ../sass/upper-items.scss */
.top-elements li #fooji-logo-white {
  width: 90px;
  border: 5px solid #39538d;
}

/* line 20, ../sass/upper-items.scss */
#top-grey-box-with-blue-border {
  width: 120px;
  height: 10px;
  margin-top: 35px;
  background-color: #d7d7d7;
  border-top: 5px solid #39538d;
  border-right: 28px solid #39538d;
  border-bottom: 5px solid #39538d;
  border-left: 5px solid #39538d;
}

@media only screen and (max-width: 479px) {
  /* line 32, ../sass/upper-items.scss */
  #top-grey-box-with-blue-border {
    margin-top: 20px;
    border: 20px solid #3e578e;
  }
}
